export(cdb)
export(check_repr)
export(create_temp_file)
export(doc)
export(file_name)
export(file_path)
export(find_exp)
export(get_lookup)
export(get_variable_doc)
export(get_variable)
export(list_to_md)
export(list_variables)
export(put_lookup)
export(put_variable_doc)
export(put_variable)
export(search_files)
export(to_char)
exportMethods(get_doc)
exportMethods(get_path)
exportMethods(vars)
importFrom(RJSONIO,fromJSON)
importFrom(RJSONIO,toJSON)
